<h1>Welcome to Twitter</h1>

<div class="welcome">
	<p>See what’s happening in the world right now. From breaking news and entertainment, sports and politics, to big events and everyday interests. If it’s happening anywhere, it’s happening on Twitter. Get the full story as it unfolds, with all the live commentary.</p>

	<h3><%= link_to "Let's Get Started!", tweets_path %></h3>
</div>